<div class="comment">
  <p>
    <strong>Name:</strong>
    <%= comment.name %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <p>
    <% if comment.name == current_user.email.split("@").first %>
        <%= link_to 'Delete Comment', [comment.task, comment],
                    method: :delete,
                    data: { confirm: 'Are you sure?' }
        %>
    <% end %>
  </p>
</div><!--/comment--><br/>